
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Modify membership</title>

	

	<!--구글 폰트 링크-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Varela+Round&display=swap"
		rel="stylesheet">
	<!--폰트 그림 링크-->
	<script src="https://kit.fontawesome.com/bb87a5faf0.js" crossorigin="anonymous"></script>
<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="../css/modifymember.css">
	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<!--js연결-->
	<script type="text/javascript" src="../js/modifymember.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>

		<main>
		<div th:replace="~{fragments/member_sec :: modifySection1}"></div>
		<!-- footer fragment -->
		<div th:replace="~{/fragments/footer :: footerFragment}"></div>
		
		</main>
</div>
</body>

</html>